tags:
- name: Route
  description: Operation with routes
- name: Bus
  description: Operation with buses
- name: Stop
  description: Operation with stops
- name: Ticket
  description: Operation with tickets  
- name: Auth
  description: Operation with authorization
- name: User
  description: Operations with users   
securityDefinitions:
  Basic:
    type: basic
  JWT:
    type: "apiKey"
    name: "Authorization"
    in: "header" 
    template: "Bearer {apiKey}"
responses:
  Standard401Response:
    description: Unauthorized 
  Standard400Response:
    description: Bad request 
  Standard404Response:
    description: Not found   
  Standard200Response:
    description: Success   
basePath: /api/
schemes:
 - https        
parameters:
  id-p:
      name: id
      description: id of target object
      in: path
      type: string
      format: byte
      example: 507f1f77bcf86cd799439011
  name-b:
      name: name
      description: name of object
      in: body
      type: string
      required: true
  address-b:
      name: address
      description: address of object
      in: body
      type: string
      example: "Kyiv, Sophia sq."
      required: true  
  longitude-b:
      name: longitude
      description: longitude of object
      in: body
      type: integer
      format: float
      required: true
  latitude-b:
      name: latitude
      description: latitude of object
      in: body
      type: integer
      format: float
      required: true
  mobileNumber-b:
      name: mobileNumber
      description: Phone number of user
      in: body
      type: string  
      required: true
  fullname-b:  
      name: username
      description: Fullname of user, displayed to others
      in: body
      type: string
      pattern: "^[a-zA-Z '.-]*$"
      required: true
  email-b:
      name: email
      in: body
      type: string
      format: email
      required: true
  email-h:
      name: email
      in: header
      type: string
      format: email
      required: true
  password-b:
      name: password
      in: body
      type: string
      format: password
      min: 6
      required: true
  password-h:
      name: password  
      in: header
      type: string
      format: password
      min: 6
      required: true          
  limit-q:
      name: limit
      in: query
      description: Number of entities returned  
      type: integer
      format: int32
      minimum: 1
      default: 50
  skip-q:  
      name: skip
      in: query
      description: Offset from the beginning of the list  
      type: integer
      format: int32
      minimum: 0
      default: 0  
definitions:
  Point:
    description: container for GeoJSON object Point
    type: object
    properties:
      latitude:
        type: integer
        format: float
      longitude:
        type: number
        format: float
  Token:
    type: object
    description:  container for JWT token and it's expiration time
    properties:
      expiredIn:
        description:  seconds, after that token will be outdated
        type: integer
        format: int32
      token:
        description:  string, represents JWT-token
        type: string
        example: "xxx.yyy.zzz"
  AuthTokens:
    type: object
    properties:
      access:
        $ref: "#/definitions/Token"
      refresh:
        $ref: "#/definitions/Token"  